{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <link rel="stylesheet" href="/build/app.css">


    <h1>Create new Message</h1>

    {{ include('messageadmin/_form.html.twig') }}


    <a href="{{ path('messageadmin_index') }}">back to list</a>
{% endblock %}
