{% extends 'base.html.twig' %}

{% block title %}New PhotoClass{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <h1>Create new PhotoClass</h1>
    {{ include('photo_class/_form.html.twig') }}
    <a href="{{ path('photo_class_index') }}">back to list</a>
{% endblock %}
