{% extends 'base.html.twig' %}

{% block title %}School index{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}

    <h1>School index</h1>

    <table class="table">

        <tbody>
        {% for school in schools %}
            <tr>
            <tr><th>Name</th><td>{{ school.name }}</td></tr>
            <tr><th>Adrs</th><td>{{ school.adrs }}</td> </tr>
            <tr><th>Tel</th><td>{{ school.tel }}</td> </tr>
            {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('school_edit', {'id': school.id}) }}">edit</a>
                </td>
            {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
