{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    <div class="row">
        <div class="formulairecompte">
            <div class="card blue-grey contenuformulaire">
                <div class="card-content white-text">
                    <h2 class="header titrearticle">Création du compte</h2>
                    {{ include('user/_form.html.twig') }}
                </div>
                <div class="card-action">
                    <a href="{{ path('user_index') }}">Retour</a>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
